<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon"type="image/x-icon" th:href="@{/img/favicon.icon}" media="screen" />
  <title>Class Sign In</title>
  <th:block th:insert="home/command :: command"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	<!--********************************** 头部菜单 **********************************-->
	<header id="topMenu" th:replace="~{home/top :: top}"></header>
	
	<!--********************************** 左侧菜单 **********************************-->
	<aside th:replace="~{home/left :: left}"></aside>
	
	<!--********************************** 正文   **********************************-->
	<div  class="content-wrapper" style="width: 100%;height: 100%;background: gray">
		<section id="icontent-header" class="content-header">
	      <h1>
	        Dashboard
	        <small>Version 2.0</small>
	      </h1>
	      <ol class="breadcrumb">
	        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	        <li class="active">Dashboard</li>
	      </ol>
	    </section>
	    <div style="background: red">
		<iframe  id="icontent" name="icontent" frameBorder=0 style="position: relative;" width="100%" src=""></iframe>
		</div>
	</div>

	<!--********************************** 尾部 **********************************-->
  	<footer id="ifoot" th:replace="home/foot :: foot"></footer>
  	
	<!--********************************** 右侧菜单 **********************************-->
	<div th:include="home/right :: right"></div>

</div>
<!-- ./wrapper -->
<script type="text/javascript">
/* *** iframe高度初始化 *** */
$(function(){
	var topMenu = window.document.getElementById('topMenu');
	var ifm = document.getElementById("icontent");
	var ifoot = document.getElementById("ifoot");
	var icontentheader = document.getElementById("icontent-header");
	ifm.height = document.documentElement.clientHeight
				- topMenu.offsetHeight
				- ifoot.offsetHeight
				- icontentheader.offsetHeight;
});
/* *** 窗口大小监听 *** */
window.onresize=function(){  
	var topMenu = window.document.getElementById('topMenu');
	var ifm = document.getElementById("icontent");
	var ifoot = document.getElementById("ifoot");
	var icontentheader = document.getElementById("icontent-header");
	ifm.height = document.documentElement.clientHeight
				- topMenu.offsetHeight
				- ifoot.offsetHeight
				- icontent-header.offsetHeight;
}
</script>
</body>
</html>
